install prerequirements: https://github.com/esp-rs/esp-idf-template/tree/master#prerequisites

	comandi:

		 - sudo apt-get install git wget flex bison gperf python3 python3-pip python3-venv cmake ninja-build ccache libffi-dev libssl-dev dfu-util libusb-1.0-0
		 - Il resto dei comandi si trovano direttamente sulla pagina git_hub

	a un certo punto ho avuto problemi con il comando: "apt-get install libuv-dev" Lo ho risolto così: https://stackoverflow.com/questions/32438367/install-libuv-on-ubuntu-12-04

